<template>
  <section class="container">
    
      <ul>
        <li><nuxt-link class=""  to="/">Home</nuxt-link></li>
        
        <li><nuxt-link class=""  to="/users">Users</nuxt-link></li>
        <li><nuxt-link class=""  to="/users/create">Add user</nuxt-link></li>
      </ul>
    
   <hr> 
  </section>
</template>

<script>

export default {
  
}
</script>

<style>
ul.hr {
  margin: 0;
  padding: 4px;
}

.active{
  color: rgb(231, 117, 10);
}

 li {
  display: inline;
  margin-right: 5px;
  
  padding: 3px;
  
}

a {
  text-decoration:  none;
  color:rgb(1, 100, 165);
}

a:hover{
  text-decoration:  underline;
  color:rgb(231, 117, 10);
}
</style>
