<template>
    <section>
        
                <h4>Пользователь: {{user.name}}</h4>
                    возраст: {{user.age}}
           <hr>
    </section>
</template>

<script>
export default {
    async asyncData({params, $axios}) {
        const user = await $axios.$get(`http://localhost:3000/users/${params.id}`)
        return {user}
    }
}
</script>

