<template>
    <section>
        <h4>Create Users</h4>
        <form
            id="app"
            @submit="checkForm"
            action="http://localhost:3000/users/create"
            method="post"
        >

        <p>
            <label for="name">Имя</label><br>
            <input
            id="name"
            v-model="name"
            type="text"
            name="name"
            >
        </p>

        <p>
            <label for="age">Возраст</label><br>
            <input
            id="age"
            v-model="age"
            type="number"
            name="age"
            min="0"
            >
        </p>


        <p>
            <input
            type="submit"
            value="Отправить"
            >
        </p>

        </form>     
    <hr>
    </section>
</template>

<script>

export default {       
    data() {
      return {
          name: null,
          age:  null
      }
    },
    methods: {
          checkForm: function (e) {
            if (this.name && this.age) {
                
              return true;
              
            }

            e.preventDefault();
            
          }
    }
}
</script>

