<template>
    <section>
        
            <div class="container" v-for="user of users" :key="user.id">
                <dir class="cont">
                    <p>Id: {{user.id}} / {{user.name}} / {{user.age}}<a href="#" @click.prevent="goTo(user)"> Подробнее</a></p>
                        
                    <hr><br>
                </dir>  
            </div>
        
    </section>
</template>

<script>
export default {
    async asyncData({$axios}) {
    return await $axios.$get('http://localhost:3000/users')
      .then(users => {
        return {
          users
        }
      })
    
  },
  methods: {
        goTo(user) {
            this.$router.push('/users/'+ user.id)
        }
    }
}
</script>

