<template>
    <div class="container">
        <nuxt />
    </div>
</template>

<style scoped>
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }
</style>
